<p><%= link_to 'Exit',  destroy_user_session_path, method: :delete  %></p>
<p><%= link_to 'Post hotel information', new_user_hotel_path(current_user) %></p>
<p><%= link_to 'Edit profile information', edit_user_registration_path %></p>


<img src="//placehold.it/150x150" alt="Hotel pic" class="img-thumbnail">

